In [8]:
#Import Data Manipulation Libraries
import pandas as pd
import numpy as np

# Import Data Visualisation Libraries
import matplotlib.pyplot as plt
import seaborn as sns


# Import machine learning libraries
from sklearn.preprocessing import StandardScaler,MinMaxScaler,RobustScaler
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score 

# Import Warningg Libraries
import warnings
warnings.filterwarnings('ignore')

# Import Data Logging Libraries

import logging
logging.basicConfig( level=logging.INFO,
                    filename='log.txt',
                    filemode='w',
                    format='%(asctime)s - %(levelname)s - %(message)s ',force = True)

In [9]:
logging.info('Importing Dataset Using Pandas Function')

In [10]:
url = 'https://raw.githubusercontent.com/Arbajshaikh7030/Cropp_Recommendation_model/refs/heads/main/Crop_Recommendation.csv'

df = pd.read_csv(url)

df.sample(frac = 1)

,Nitrogen,Phosphorus,Potassium,Temperature,Humidity,pH_Value,Rainfall,Crop
673,14,37,15,27.962357,83.975868,6.581351,48.936695,MungBean
259,20,79,77,18.549886,16.025427,7.648675,76.325652,ChickPea
1244,19,123,200,34.760861,81.035448,6.167014,65.704300,Grapes
979,39,17,45,18.096911,90.421774,6.924491,104.881890,Pomegranate
1117,26,37,30,35.399863,49.459626,6.166174,97.410540,Mango
...,...,...,...,...,...,...,...,...
777,44,63,15,26.423330,64.511368,7.338930,63.465465,Blackgram
313,25,60,22,21.631491,21.179197,5.887263,134.364995,KidneyBeans
1424,102,25,50,28.204808,92.914404,6.099662,20.360011,Muskmelon
1325,83,9,45,25.854836,89.131640,6.049610,46.851770,Watermelon
1340,100,18,52,26.202345,80.382665,6.876067,56.479418,Watermelon

In [12]:
# Performing Univariate Analysis

from collections import OrderedDict

stats = []

for i in df.columns:
    if df[i].dtypes != 'object':

         numerical_stats = OrderedDict({
            'Feature': i,
            'Count': df[i].count(),
            'Mean': df[i].mean(),
            'Median': df[i].median(),
            'Mode': df[i].mode().values[0],
            'Standard Deviation': df[i].std(),
            'Variance': df[i].var(),
            'Skewness': df[i].skew(),
            'Kurtosis': df[i].kurtosis(),
            'Min': df[i].min(),
            '25th Percentile': df[i].quantile(0.25),
            'Median': df[i].median(),
            '75th Percentile': df[i].quantile(0.75),
            'Max': df[i].max()
        })
        
    stats.append(numerical_stats)
stats = pd.DataFrame(stats)
stats

,Feature,Count,Mean,Median,Mode,Standard Deviation,Variance,Skewness,Kurtosis,Min,25th Percentile,75th Percentile,Max
0,Nitrogen,2200,50.551818,37.000000,22.000000,36.917334,1362.889537,0.509721,-1.058240,0.000000,21.000000,84.250000,140.000000
1,Phosphorus,2200,53.362727,51.000000,60.000000,32.985883,1088.068460,1.010773,0.860279,5.000000,28.000000,68.000000,145.000000
2,Potassium,2200,48.149091,32.000000,17.000000,50.647931,2565.212869,2.375167,4.449354,5.000000,20.000000,49.000000,205.000000
3,Temperature,2200,25.616244,25.598693,8.825675,5.063749,25.641550,0.184933,1.232555,8.825675,22.769375,28.561654,43.675493
4,Humidity,2200,71.481779,80.473146,14.258040,22.263812,495.677307,-1.091708,0.302134,14.258040,60.261953,89.948771,99.981876
5,pH_Value,2200,6.469480,6.425045,3.504752,0.773938,0.598980,0.283929,1.655581,3.504752,5.971693,6.923643,9.935091
6,Rainfall,2200,103.463655,94.867624,20.211267,54.958389,3020.424469,0.965756,0.607079,20.211267,64.551686,124.267508,298.560117
7,Rainfall,2200,103.463655,94.867624,20.211267,54.958389,3020.424469,0.965756,0.607079,20.211267,64.551686,124.267508,298.560117